<div class="container">
	<div class="beer">
		<div class="beer-img">
			<img src="{{randomBeer.image_url}}" alt="">
		</div>
		<div class="beer-info">
			{{#each responseFromAPI}}
			{{!-- {{this.image_url}} --}}
			{{this.name}}
			{{this.description}}
			{{this.tagline}}
			{{this.food_pairing}}
			{{this.brewers_tips}}
			{{/each}}
		</div>
	</div>
</div>